.link {
  &__buttonLike {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 0 15px;

    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: var(--tertiary);

    border-radius: 4px;
    background-color: var(--accent);
  }
}
